/**********************************************************************/
/*setting*/
/**********************************************************************/
/*setting fonts*/
@font-face {
  font-family: "manrope";
  src: url(../Font/Manrope-VariableFont_wght.ttf);
  /*Weights: 500, 700*/
}
/*setting colors*/
/*setting page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
}

/*setting body*/
body {
  min-height: 100vh;
  font-family: manrope;
  font-size: 13px;
  font-weight: 500;
  background: hsl(210deg, 46%, 95%);
  text-align: left;
  color: hsl(217deg, 19%, 35%);
}

/*setting link color (footer)*/
a,
a:visited {
  color: hsl(214deg, 17%, 51%);
}

/**********************************************************************/
/*Main*/
/**********************************************************************/
/*flex on main for center elements in page*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*card size and grid 2 columns*/
  /*add img and border radius*/
  /*background and padding */
}
main .card {
  width: 731px;
  height: 280px;
  display: grid;
  grid-template-columns: 285px 446px;
  /*media querie => change grid and size for tablette and mobile*/
}
@media screen and (max-width: 900px) {
  main .card {
    width: 328px;
    height: 513px;
    display: grid;
    grid-template-columns: 328px;
    grid-template-rows: 201px 312px;
  }
}
main .card-left {
  background: url(..//../images/drawers.jpg) center/cover;
  border-radius: 8px 0 0 8px;
  /*media querie => change border-radius for tablette and mobile*/
}
@media screen and (max-width: 900px) {
  main .card-left {
    border-radius: 8px 8px 0 0;
  }
}
main .card-right {
  background: white;
  border-radius: 0 8px 8px 0;
  padding: 30px;
  /*media querie => change padding and flex*/
  /*txt size and margin*/
  /*grid  3 columns*/
  /*set img size and radius*/
  /*set txt size and letter spacing*/
  /*set grey circle*/
}
@media screen and (max-width: 900px) {
  main .card-right {
    padding: 20px 20px 10px 20px;
    justify-content: space-around;
    border-radius: 0 0 8px 8px;
  }
}
main .card-right h1 {
  font-size: 1.45rem;
  margin: 0 0 20px 0;
  /*media querie => change size and margin*/
}
@media screen and (max-width: 900px) {
  main .card-right h1 {
    font-size: 1.2rem;
    margin: 20px 0 35px 0;
  }
}
main .card-right .bottom-card {
  width: 100%;
  display: grid;
  grid-template-columns: 14% 76% 10%;
  justify-items: flex-start;
  margin: 30px 0 0 0;
  /*media querie => change grid*/
}
@media screen and (max-width: 900px) {
  main .card-right .bottom-card {
    display: grid;
    grid-template-columns: 18% 67% 15%;
    margin: 30px 0 0 0;
  }
}
main .card-right .img2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
main .card-right h2 {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
main .card-right span p {
  color: hsl(212deg, 23%, 69%);
}
main .card-right .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: hsl(210deg, 46%, 95%);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  /*set bottom share*/
}
main .card-right .circle:hover {
  background: hsl(217deg, 19%, 35%);
}
main .card-right .circle i {
  z-index: 1;
  transition: 0.3s;
  color: hsl(214deg, 17%, 51%);
  transform: scale(1.2);
}
main .card-right .circle i:hover {
  transform: scale(1.4);
  color: hsl(210deg, 46%, 95%);
}

/*set popup*/
.popup {
  text-align: left;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  /*flexbox for aligne elements*/
}
.popup .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 248px;
  height: 55px;
  position: relative;
  background: hsl(217deg, 19%, 35%);
  border-radius: 7px;
  padding: 0 25px 0 25px;
  top: -80px;
  /*after for do a triangle*/
  /*set txt*/
  /*set img*/
}
@media screen and (max-width: 900px) {
  .popup .flexbox {
    width: 328px;
    height: 64px;
    border-radius: 0 0 7px 7px;
    top: 0px;
    transform: translateX(-36.75%);
    padding: 0 80px 0 0;
  }
}
.popup .flexbox:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 55px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid hsl(217deg, 19%, 35%);
}
@media screen and (max-width: 900px) {
  .popup .flexbox:after {
    display: none;
  }
}
.popup .flexbox h3 {
  color: hsl(212deg, 23%, 69%);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.7rem;
  transition: 0.3s;
}
.popup .flexbox h3:hover {
  color: hsl(210deg, 46%, 95%);
  transform: scale(1.1);
}
.popup .flexbox .img4,
.popup .flexbox .img5,
.popup .flexbox .img6 {
  width: 20px;
  height: 20px;
  transition: 0.3s;
}
.popup .flexbox .img4:hover,
.popup .flexbox .img5:hover,
.popup .flexbox .img6:hover {
  transform: scale(1.1);
}

/*for hide or not the popup => with javascipt */
.hide {
  display: none;
}

/*****align footer and set size and color*****/
footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 20px auto;
  color: hsl(217deg, 19%, 35%);
}/*# sourceMappingURL=index.css.map */